@import '../variables';
@import '../mixins';

.footer {
    margin-top: 11em;
    position: relative;
    background: #F8F8F8;
}
.footer-main {
    padding: 11em 9em 6em 9em;
    display: flex;
}

.footer-info {
    width: 28%;
    margin-right: 14em;

    &__description {
        margin: 1em 0 2em;
        @extend %primary-description;
    }
    &__year {
        font-size: 16px;
        color: #AFB5C0;
        padding-top: 1em;
    }
}

.footer-social {
    display: flex;

    &__facebook {
        @extend %social-icon;
        background: url(../image/Facebook.png) no-repeat;
    }
    &__instagram {
        @extend %social-icon;
        background: url(../image/Instagram.png) no-repeat;
    }
    &__twitter {
        @extend %social-icon;
        background: url(../image/Twitter.png) no-repeat;
    }
    &__icon {
        display: flex;
    }
}

.footer-links {
    display: flex;
    flex-direction: column;
    width: 11%;

    &_centre {
        margin: 0 7em;
    }
    &__title {
        margin-bottom: 1em;
        font-size: 18px;
        font-weight: 500;
        color: $primary-color;
    }
    &__item {
        margin-bottom: 0.6em;
        @extend %primary-description;
        cursor: pointer;
    }
}

a {
    color: $color-link;
}
a:hover {
    color: $primary-color;
}
