@import '../variables';
@import '../mixins';
@import '../placeholders';

.footer {
    margin-top: 11em;
    position: relative;
    background: #F8F8F8;
}
.footer-main {
    padding: 22em 2em 4em 2em;
    display: flex;
    flex-wrap: wrap;

    @include mq("xxs") {
        padding: 18em 2em 4em 2em;
    }
    @include mq("xs") {
        padding: 10em 3em 4em 3em;
        flex-wrap: nowrap;
    }
    @include mq("sm") {
        padding: 10em 4em 4em 4em;
    }
    @include mq("md") {
        padding: 12em 5em 4em 5em;
    }
    @include mq("lg") {
        padding: 12em 9em 4em 9em;
    }
}

.footer-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    @include mq("xs") {
        margin-right: 3em;
        width: 30%;
        align-items: start;
        text-align: start;
    }
    @include mq("m") {
        width: 58%;
    }
    @include mq("md") {
        margin-right: 9em;
    }
    @include mq("lg") {
        margin-right: 11em;
    }

    &__description {
        margin: 1em 0 1em;
        @extend %primary-description;
    }
    &__year {
        margin: 2em 0;
        font-size: $primary-size;
        color: #AFB5C0;
    }
}

.footer-social {
    display: flex;

    &__icon {
        position: relative;
        display: flex;
        margin-right: 20px;
        @include size(34px);
        background: $color-white;
        border-radius: 50%;
    }
}

$icons: "fa-facebook-f", "fa-instagram", "fa-twitter";
@each $name in $icons {
    .#{$name} {
        position: absolute;
        @include position(25%);
        font-size: 18px;
        color: $color-active;
    }
}

.footer-links {
    display: flex;
    flex-direction: column;
    width: 22%;

    @include mq("xxs") {
        width: 26%;
    }

    &_centre {
        margin: 0 2.5em;

        @include mq("lg") {
            margin: 0 7em;
        }
    }
    &__title {
        margin-bottom: 1em;
        font-size: 18px;
        font-weight: 500;
        color: $primary-color;
    }
    &__item {
        margin-bottom: 0.6em;
        font-size: 14px;
        line-height: 30px;
        color: $color-link;
        cursor: pointer;

        @include mq("xxs") {
            font-size: 16px;
        }
    }
}

a {
    color: $color-link;
}
a:hover {
    color: $primary-color;
}