@import '../variables';
@import '../mixins';
@import '../placeholders';

.info {
    display: flex;
    flex-direction: column;
    margin: 0 2em 2em;
    box-shadow: 50px 50px 114px 0 rgb(13, 16, 37, 0.06);

    @include mq("xs") {
        flex-direction: row;
        margin: 0 3em 3em;
    }
    @include mq("sm") {
        margin: 0 4em 4em;
    }
    @include mq("md") {
        margin: 0 5em 6em;
    }
    @include mq("lg") {
        margin: 0 9em 6em;
    }
}

.info-block {
    padding: 4em 0;
    position: relative;
    width: 100%;

    @include mq("xs") {
        padding: 6em 5em;
    }

    &__value {
        position: absolute;
        left: 50%;
        bottom: 27%;

        @include mq("xs") {
            bottom: 35%;
        }
    }

    &__title {
        font-weight: bold;
        font-size: 25px;
    }

    &__description {
        font-size: 20px;
        line-height: 30px;
        color: $color-link;
    }

    $icons: "user", "server", "location";
    @each $name in $icons {
        &_#{$name} {
            @include bgImg(#{$name});
            @extend %_desc-icon;
        }
    }
}

%_desc-icon {
    background-position: 30% 50%;
    @include mq("xs") {
        background-position: 15% 50%;
    }
    @include mq("m") {
        background-position: 30% 50%;
    }
}