@import '../variables';
@import '../mixins';
@import '../placeholders';

.locations {
    margin-top: 4em;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include mq("xs") {
        margin-top: 6em;
    }
    @include mq("md") {
        margin-top: 9em;
    }

    &__title {
        width: 100%;
        margin-bottom: 0.5em;
        line-height: 50px;
        @extend %primary-title;

        @include mq("xs") {
            width: 62%;
        }
        @include mq("sm") {
            width: 56%;
        }
        @include mq("md") {
            width: 45%;
        }
        @include mq("lg") {
            width: 35%;
        }
    }
    &__description {
        width: 100%;
        margin-bottom: 4em;
        @extend %primary-description;
        text-align: center;

        @include mq("xs") {
            width: 50%;
        }
        @include mq("lg") {
            margin-bottom: 9em;
        }
    }
}

.partners {
    margin: 2em 2em 3em;
    @include bgImg('sponsored');
    background-size: contain;
    padding-bottom: 15%;

    @include mq("xs") {
        margin: 2em 3em 3em;
    }
    @include mq("sm") {
        margin: 2em 4em 3em;
    }
    @include mq("md") {
        margin: 2em 5em 3em;
    }
    @include mq("lg") {
        margin: 2em 6em 3em;
    }
}