@import '../variables';
@import '../mixins';

.sign {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 0 auto;

    &__title {
        font-size: 28px;
        font-weight: 600;
        margin: 1em auto;
    }
}
.sign-form {
    display: flex;
    flex-direction: column;

    &__button {
        margin: 0 auto;
        padding: 1em 3em;
        width: 55%;
        background: $color-active;
        font-size: 16px;
        font-weight: bold;
        color: $color-white;
        border-radius: 10px;
        border: none;
        cursor: pointer;
    }

    &__button:hover {
        background: $color-button-active;
    }

    &__error {
        margin: -2em 0 2em;
        color: $color-active;
        font-size: 12px;
    }
}

.active-input {
    margin-bottom: 2em;
    width: 100%;
    height: 30px;
    border: 1px solid $primary-color;
}
.error-input {
    margin: 0 0 2em;
    width: 100%;
    height: 30px;
    border: 1px solid $color-active;
}