@import '../variables';
@import '../mixins';

.signIn, .signIn-form, .signUp, .signUp-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 39%;
    margin: 0 auto;
}

.signIn__title, .signUp__title {
    font-size: 28px;
    font-weight: 600;
    margin: 1em auto;
}

.signIn-form__input, .signUp-form__input {
    margin-bottom: 2em;
    width: 100%;
    height: 20px;
}

.signIn-form__button, .signUp-form__button {
    padding: 1em 3em;
    background: $color-active;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    font-size: 16px;
    color: $color-white;
    cursor: pointer;
}

.signIn-form__button:hover, .signUp-form__button:hover {
    background: $color-button-active;
}

.signUp-form__error {
    margin-bottom: 1em;
    color: $color-active;
}