@import '../variables';
@import '../mixins';

.subscribe {
    position: absolute;
    padding: 3.5em 4.5em;
    top: -7em;
    left: 9em;
    right: 9em;
    display: flex;
    justify-content: space-between;
    background: $color-white;
    border-radius: 10px;

    &__button {
        margin: 2em 0;
        padding: 1em 2em;
        background: $color-active;
        border-radius: 10px;
        border: none;
        font-size: 16px;
        font-weight: bold;
        color: $color-white;
        cursor: pointer;
        box-shadow: 0 35px 30px -20px rgb(245 56 56 / 35%);
    }
    &__button:hover {
        background: $color-button-active;
    }
}

.subscribe-info {
    width: 45%;
    margin-right: 10em;

    &__title {
        margin-bottom: 0.5em;
        line-height: 45px;
        color: $primary-color;
        @include primaryTitle;
    }

    &__description {
        @include primaryDescription;
    }
}
