@mixin size($width, $height: $width) {
    width: $width;
    height: $height;
}

@mixin position($top, $left) {
    top: $top;
    left: $left;
}

@mixin mq($media) {
    @each $size, $resolution in $sizes {
        @if $media == $size {
            @media only screen and (min-width: $resolution) {
                @content;
            }
        }
    }
}

@mixin bgImg($file) {
    background: url('../image/#{$file}.png') no-repeat;
}