
/* app style */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap');
#app {
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
  overflow: hidden;
}

body, button, p, h1, h2, h3, ul {
  padding: 0;
  margin: 0;
}
a {
  text-decoration:none;
}
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* header style */
.header {
    display: flex;
    justify-content: center;
    margin: 45px 0 88px 0;
}
.header-container__logo {
  margin-right: 150px;
}
li {
  list-style: none;
}
.header-container {
    display: flex;
}
.header-nav__list {
    display: flex;
    margin-top: 12px;
}
.header-nav {
    display: flex;
}
.header-nav__item {
    margin-right: 40px;
    font-size: 16px;
    color: #4F5665;
    cursor: pointer;
    text-transform: capitalize;
}
.header-nav__item:hover {
    color: #0B132A;
}
.header-auth__button-sign-in {
    margin: 0 30px 0 100px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    background: none;
    color: #0B132A;
    cursor: pointer;
}
.header-auth__button-sign-in:hover {
    color: #F53855;
}
.header-auth__button-sign-up {
    width: 150px;
    height: 45px;
    background: none;
    border: 1px solid #0B132A;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 600;
    color: #0B132A;
    cursor: pointer;
}
.header-auth__button-sign-up:hover {
    border: 1px solid #F53855;
    color: #F53855;
}
.header-auth-user {
  margin-left: 288px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid white;
  background: url(../src/image/user.png) no-repeat;
  background-size: contain;
}
.header-auth-user:hover {
  border: 1px solid #F53855;
}

/* style about */
.about {
    display: flex;
    margin: 0 0 103px 150px;
}
.about-description {
    width: 555px;
    margin-right: 40px;
}
.about-description__title {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 50px;
    line-height: 70px;
    color: #0B132A;
}
.about-description__description {
    margin-bottom: 50px;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
}
.about-description__button {
    width: 250px;
    height: 60px;
    background: #F53838;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    cursor: pointer;
    box-shadow: 0px 30px 30px -20px rgb(245 56 56 / 35%);
}
.about-description__button:hover {
    background: #eb3535;
}

/* style info */
.info {
    display: flex;
    width: 1140px;
    margin: 0 auto;
    height: 200px;
    margin-bottom: 95px;
    box-shadow: 50px 50px 114px 0px rgb(13, 16, 37, 0.06);;
}
.info-block {
    position: relative;
    width: 380px;
}
.info-block__value {
    position: absolute;
    left: 182px;
    bottom: 67.5px;
}
.info-block__title {
    font-weight: bold;
    font-size: 25px;
}
.info-block__description {
    font-size: 20px;
    line-height: 30px;
    color: #4F5665;
}
.info-block_users {
    background: url(../src/image/user.png) no-repeat;
    background-position: 30% 50%;
}
.info-block_servers {
    background: url(../src/image/Server.png) no-repeat;
    background-position: 30% 50%;
}
.info-block_locations {
    background: url(../src/image/location.png) no-repeat;
    background-position: 30% 50%;
}

/* style features */
.features {
    display: flex;
    width: 1140px;
    margin: 0 auto;
}
.features-text__title {
    margin-bottom: 20px;
    width: 383.41px;
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
}
.features-text__description {
    margin-bottom: 20px;
    width: 427.88px;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
}
.features-text__item {
    margin-bottom: 15px;
    padding-left: 34px;
    background: url(../src/image/done.png) no-repeat;
    font-size: 14px;
    line-height: 30px;
    color: #4F5665;
}
.features-img {
    margin: 0 170px 0 34px;
}
.features-text {
    margin-top: 55px;
}

/* style price */
.price {
    background: linear-gradient(180deg, #F8F8F8 -45.04%, rgba(248, 248, 248, 0) 88.56%);
}
.price__title {
    margin-top: 126px;
    padding-top: 80px;
    font-size: 35px;
    text-align: center;
}
.price__description {
    width: 555px;
    margin: 0 auto 60px;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
    text-align: center;
}
.price-block {
    display: flex;
    justify-content: center;
}
.price-block__package {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    width: 330px;
    height: 760px;
    background: #FFFFFF;
    border: 2px solid #DDDDDD;
    border-radius: 10px;
    background: url(../src/image/free.png) no-repeat;
    background-position: center 79px;
    background-color: white;
}
.price-block__package:hover {
    border: 2px solid #F53838;
}
.price-block__package_standart {
    margin: 0 30px;
}

.price-block__title {
    padding-top: 275px;
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}
.price-block__item {
    margin-bottom: 10px;
    padding-left: 44px;
    font-size: 14px;
    line-height: 30px;
    color: #4F5665;
    background: url(../src/image/check.png) no-repeat;
}
.price-block__cost {
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
}
.price-block__button {
    margin-bottom: 50px;
    width: 177px;
    height: 45px;
    border: 2px solid #F53838;
    border-radius: 50px;
    background-color: white;
    font-size: 16px;
    font-weight: 700;
    color: #F53838;
    cursor: pointer;
}
.price-block__button:hover {
    background-color: #F53838;
    color: white;
    box-shadow: 10px 20px 34px -10px rgb(245 56 56 / 35%);
}

/* style locations */
.locations {
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.locations__title {
    margin-bottom: 20px;
    width: 383.41px;
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    text-align: center;
}
.locations__description {
    width: 555px;
    margin-bottom: 155px;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
    text-align: center;
}

/* style partners */
.partners {
    margin: 35px auto 50px;
    width: 1135px;
    height: 208.32px;
    background: url(../src/image/sponsored.png) no-repeat;
}
/* style reviews */
.reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.reviews__title {
    margin-bottom: 20px;
    font-size: 35px;
    line-height: 50px;
    color: #0B132A;
}
.reviews__description {
    width: 555px;
    margin-bottom: 60px;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
    text-align: center;
}
.reviews-user {
    padding: 30px;
    margin: 0 50px;
    width: 70%;
    height: 170px;
    border: 2px solid #DDDDDD;
    border-radius: 10px;
    cursor: pointer;
}
.reviews-user__img {
    width: 50px;
    height: 50px;
}
.reviews-user:hover {
    border: 2px solid #F53838;
}
.arrows-button {
    display: flex;
    justify-content: flex-end;
    margin-right: 150px;
}
.arrows-button__left {
    margin-top: 60px;
    margin-right: 20px;
    width: 60px;
    height: 60px;
    border: 2px solid #F53838;
    border-radius: 50%;
    background: url(../src/image/arrow-left.png) no-repeat;
    background-position: center;
    cursor: pointer;
}
.arrows-button__right {
    margin-top: 60px;
    width: 60px;
    height: 60px;
    border: 2px solid #F53838;
    border-radius: 50%;
    background: url(../src/image/arrow-left.png) no-repeat;
    background-position: center;
    transform: scale(-1, 1);
    cursor: pointer;
}
.arrows-button__right:hover{
    background: url(../src/image/arrow-right.png) no-repeat #F53838;
    background-position: center;
    transform: scale(1, -1);
}
.arrows-button__left:hover{
    background: url(../src/image/arrow-right.png) no-repeat #F53838;
    background-position: center;
    transform: scale(-1, 1);
}
.reviews-user-header {
    position: relative;
    display: flex;
}
.reviews-user__main {
    margin-left: 20px;
}
.reviews-user__name {
    font-size: 18px;
    font-weight: 500;
}
.reviews-user__city {
    font-size: 14px;
    color: #4F5665;
}
.reviews-user__rating {
    position: absolute;
    top: 10px;
    right: 0;
    padding-left: 26px;
    font-size: 16px;
    font-weight: 400;
    color: #0B132A;
    background: url(../src/image/star.png) no-repeat;
}
.reviews-user__description {
    margin-top: 8px;
    width: 340px;
    font-size: 16px;
    line-height: 30px;
    color: #0B132A;
}

/* style subscribe */
.subscribe {
    position: absolute;
    top: -116px;
    left: 150px;
    padding: 0 70px;
    display: flex;
    justify-content: space-between;
    width: 1000px;
    height: 233px;
    background: #FFFFFF;
    border-radius: 10px;
}
.subscribe-info__title {
    margin: 58px 0 20px 0;
    width: 371.61px;
    font-size: 35px;
    font-weight: 500;
    line-height: 45px;
    color: #0B132A;
}
.subscribe-info__description {
    font-size: 16px;
    color: #4F5665;
}
.subscribe__button {
    margin-top: 86.5px;
    width: 250px;
    height: 60px;
    background: #F53838;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    cursor: pointer;
    box-shadow: 0px 35px 30px -20px rgb(245 56 56 / 35%);
}
.subscribe__button:hover {
    background: #eb3535;
}

/* style footer */
.footer {
    margin-top: 182px;
    position: relative;
    height: 563.12px;
    background: #F8F8F8;
}
.footer-main {
    padding: 180px 150px 0 150px;
    display: flex;
}
.footer-main-info {
    width: 340px;
    margin-right: 230px;
}
.footer-main-links_right {
    width: 122px;
}
.footer-main-links_centre {
    width: 124px;
    margin: 0 126px;
}
.footer-main-links__title {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 500;
    color: #0B132A;
}
.footer-main-links {
    display: flex;
    flex-direction: column;
}
a {
    color: #4F5665;
}
a:hover {
    color: #0B132A;
}
.footer-main-links__item {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
    cursor: pointer;
}
.footer-main__description {
    margin: 20px 0 30px;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
}
.footer-main-social {
    display: flex;
}
.footer-main-social__facebook {
    width: 55px;
    height: 55px;
    background: url(../src/image/Facebook.png) no-repeat;
    background-size: cover;
}
.footer-main-social__instagram {
    width: 55px;
    height: 55px;
    background: url(../src/image/Instagram.png) no-repeat;
    background-size: cover;
}
.footer-main-social__twitter {
    width: 55px;
    height: 55px;
    background: url(../src/image/Twitter.png) no-repeat;
    background-size: cover;
}
.footer-main__year {
    font-size: 16px;
    color: #AFB5C0;
}
/* sign-in */
.sign-in, .sign-in-form, .sign-up, .sign-up-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sign-in__title {
    margin: 35px auto;
}
.sign-in-form__input, .sign-up-form__input {
    margin-bottom: 30px;
    width: 200px;
    height: 20px;
}
.sign-in-form__button, .sign-up-form__button {
    width: 130px;
    height: 40px;
    background: #F53838;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    cursor: pointer;
}
.sign-in-form__button:hover, .sign-up-form__button:hover {
    background: #eb3535;
}
/* sign-up */
.sign-up__title {
    margin: 35px auto;
}
.sign-up-form__error {
    margin-bottom: 30px;
    color: #F53838;
}
/* modal-form */
.form {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-form {
    position: relative;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F6F6F6;
    border-radius: 3%;
}

.modal-form__title {
    margin-bottom: 1em;
}
.modal-form__name, .modal-form__phone {
    margin-bottom: 1em;
    width: 250px;
    height: 20px;
}
.modal-form__button-send {
    width: 150px;
    height: 40px;
    background: #F53838;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    cursor: pointer;
}
.modal-form__button-close {
    position: absolute;
    top: 3%;
    right: 3%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #F53838;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}
.modal-form__button-close:hover, .modal-form__button-send:hover {
    background: #e93333;
}
.modal-form__error {
    color: #F53838;
    margin-bottom: 1em;
}
.page {
    margin: 0 150px;
}
/* hamburger-menu */
.hamburger-menu {
    display: none;
}
.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 320px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    z-index: 1;
}
.menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}
.menu__item:hover {
    background-color: #c4c4c4;
}
#menu__toggle {
    opacity: 0;
}
#menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
}
.menu__btn {
    display: flex; 
    align-items: center; 
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 2;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
}
.menu__btn > span::before {
    content: '';
    top: -8px;
}
.menu__btn > span::after {
    content: '';
    top: 8px;
}
.menu__item-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em auto;
    width: 150px;
    height: 45px;
    background: none;
    border: 1px solid #F53855;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 600;
    color: #F53855;
    cursor: pointer;
}

/* media */
@media (max-width: 1366px) {
    .about-img__img {
        width: 85%;
    }
    .subscribe {
        width: 926px;
    }
    .footer-main-info {
        width: 265px;
    }
    .spotify {
        background-position: right;
        width: 213px;
        height: 208.32px;
    }
}
@media (max-width: 1024px) {
    .header {
        margin: 45px 60px 88px 60px;
    }
    .header-container__logo {
        margin-right: 70px;
    }
    .header-auth__button-sign-in {
        margin: 0 30px 0 30px;
    }
    .header-auth__button-sign-up {
        width: 80px;
    }
    .about {
        margin: 0 0 103px 60px;
    }
    .about-img__img {
        width: 90%;
    }
    .about-description__title {
        font-size: 32px;
        line-height: 50px;
    }
    .about-description {
        width: 355px;
    }
    .features {
        padding: 0 60px;
        width: 904px;
    }
    .features-img {
        margin: 0 30px 0 0;
    }
    .features-text__title, .features-text__description {
        width: 370px;
    }
    .info {
        width: 100%
    }
    .partners {
        margin: 35px 60px 50px;
        width: calc(100% - 120px);
        background-size: cover;
        height: 130.32px;
    }
    .info-block {
        width: 33.33%;
    }
    .locations__img {
        width: calc(100% - 120px);
        margin: 0 60px;
    }
    .subscribe {
        left: 60px;
        padding: 0 70px;
        width: calc(100% - 260px);
    }
    .reviews-user__description {
        width: 100%;
    }
    .reviews-user {
        width: 76%;
        height: 225px;
    }
    .footer-main {
        padding: 180px 60px 0 60px;
    }
    .footer-main-info {
        width: 275px;
        margin-right: 100px;
    }
    .footer-main-links_centre {
        margin: 0px 105px;
    }
}
@media (max-width: 823px) {
    .hamburger-menu {
        display: block;
    }
    .header {
        display: none;
    }
    .about {
        margin: 3em 40px 0;
    }
    .info-block__value {
        left: 53%;
    }
    .features {
        width: calc(100% - 120px);
    }
    .subscribe-info__title {
        font-size: 30px;
    }
    .footer-main-links_centre {
        margin: 0px 12%;
    }
    .features-img__image {
        width: 100%;
    }
    .features-text {
        margin-top: 0;
    }
    .features-text__title {
        font-size: 27px;
        line-height: 35px;
    }
    .partners {
        background-size: contain;
    }
    .price__title {
        margin-top: 2em;
    }
    .locations {
        padding-top: 5em;
    }
    .locations__description {
        margin-bottom: 2em;
    }
    .footer {
        margin-top: 10em;
    }
}
@media (max-width: 812px) {
    .about-description {
        width: 250px;
    }
    .about-description__title {
        font-size: 24px;
        line-height: 35px;
    }
    .about-description__description {
        margin-bottom: 20px;
        font-size: 14px;
    }
    .info {
        width: 812px;
    }
    .info-block {
        width: 270px;
    }
    .info-block__value {
        left: 50%;
    }
    .info-block_users {
        background-position: 25% 50%;
    }
    .features-img {
        margin: 0px 20px 0 0;
    }
    .features-text__title, .features-text__description {
        width: 290px;
    }
    .features-text__item {
        margin-bottom: 0;
    }
    .locations__img {
        max-width: 692px;
    }
    .subscribe {
        width: 552px;
    }
    .subscribe-info__title {
        font-size: 27px;
    }
    .footer-main-info {
        width: 213px;
        margin-right: 50px;
    }
    .footer-main-links_centre {
        margin: 0px 55px;
    }
}
@media (max-width: 768px) {
    .about-description__title {
        font-size: 27px;
    }
    .about-description {
        margin-right: 30px;
        display: flex;
        flex-direction: column;
    }
    .about-img {
       margin-top: 1em;
       width: 60%;
    }
    .about-img__img {
        width: 100%;
    }
    .info {
        width: 768px;
        margin: 4em 0;
    }
    .info-block {
        width: 256px;
        background-position: 20% 50%;
    }
    .info-block__value{
        left: 50%;
    }
    .price__title {
        margin-top: 1em;
    }
    .features {
        padding: 0 40px;
        width: calc(100% - 80px);
    }
    .features-img {
        margin: 0 30px 0 0;
    }
    .features-img__image {
        width: 100%;
    }
    .features-text {
        margin: 0;
    }
    .features-text__title, .features-text__description {
        width: 336px;
    }
    .features-text__title {
        font-size: 31px;
    }
    .locations {
        padding-top: 4em;
    }
    .locations__img {
        width: 688px;
        margin: 0 40px;
    }
    .locations__description {
        margin-bottom: 3em;
    }
    .partners {
        width: calc(100% - 80px);
        height: 128px;
        margin: 35px 40px 50px;
        background-size: contain;
    }
    .reviews-user {
        width: 70%;
        margin: 0px 8%;
    }
    .reviews__title {
        margin: 0 40px 20px;
        font-size: 33px;
    }
    .subscribe {
        left: 0;
        padding: 0 40px;
        width: 688px;
    }
    .footer {
        margin-top: 160px;
    }
    .footer-main {
        padding: 180px 40px 0 40px;
    }
    .footer-main-info {
        width: 210px;
        margin-right: 80px;
    }
    .footer-main-links_centre {
        margin: 0 56px;
    }
}
@media (max-width: 736px) {
    .about {
        flex-direction: row;
        margin: 2em 40px 0;
    }
    .about-description, .about-description__title {
        width: 300px;
    }
    .about-description__title {
        font-size: 29px;
    }
    .about-description__description {
        margin-bottom: 20px;
    }
    .info {
        max-width: 736px;
        margin: 40px 0;
    }
    .price__title {
        margin-top: 30px;
        padding-top: 2em;
        font-size: 30px;
    }
    .locations {
        padding-top: 5em;
    }
    .locations__description {
        margin-bottom: 2em;
    }
    .reviews__title {
        font-size: 31px;
        text-align: center;
    }
    .footer {
        margin-top: 9em;
    }
    .subscribe {
        width: 656px;
    }
    .footer-main-info {
        margin-right: 3em;
    }
    .footer-main-links__item {
        font-size: 14px;
    }
}
@media (max-width: 667px) {
    .info {
        width: 667px;
    }
    .info-block {
        width: 222px;
    }
    .locations__img, .subscribe {
        width: calc(100% - 80px);
    }
    .features-text__title, .features-text__description {
        width: 275px;
    }
    .features-text__title {
        font-size: 26px;
    }
    .features-img {
        margin: 8% 30px 0 0;
    }
    .reviews__title {
        font-size: 27px;
        text-align: center;
    }
    .reviews-user {
        width: 77%;
    }
    .reviews-user__name {
        font-size: 16px;
    }
}
@media (max-width: 640px) {
    .info {
        width: 100%;
    }
    .info-block {
        width: 33.33%;
    }
    .features {
        width: calc(100% - 80px);
    }
    .price-block__package_standart {
        margin: 0 20px;
    }
    .price-block__item {
        font-size: 13px;
    }
}
@media (max-width: 568px) {
    .about-img__img {
        margin-top: 4em;
    }
    .info-block__title {
        font-size: 22px;
    }
    .info-block__description {
        font-size: 18px;
    }
    .price-block__package_standart {
        margin: 0 13px;
    }
    .price-block__package {
        height: auto;
    }
    .partners {
        height: 90px;
    }
    .reviews-user {
        padding: 15px;
    }
    .reviews-user {
        width: 82%;
    }
    .reviews-user__rating {
        padding-left: 18px;
    }
    .subscribe-info__title {
        width: 85%;
    }
    .footer-main-info {
        margin-right: 2em;
    }
    .footer-main-links_centre {
        margin: 0 2em;
    }
}
@media (max-width: 541px) {
    .price__description {
        width: auto;
        margin: 0 40px 60px 40px;
    }
    .price-block__package {
        width: 31%;
    }
    .price-block__item {
        padding-left: 35px;
    }
    .price-block__button {
        width: 145px;
    }
    .subscribe-info__title {
        font-size: 25px;
    }
    .footer-main-info {
        width: 40%;
    }
}
@media (max-width: 414px) {
    .about {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .about-description__title {
        font-size: 29px;
        line-height: 50px;
    }
    .about-description {
        margin: 0 auto;
        text-align: center;
    }
    .about-description__button {
        margin: 0 auto;
    }
    .about-img {
        width: 100%;
    }
    .info {
        height: 390px;
        flex-direction: column;
    }
    .info-block {
        width: 100%;
        height: 130px;
        background-position: 30% 50%;
    }
    .info-block__value {
        top: 30%;
    }
    .features {
        flex-direction: column;
    }
    .features-img {
        margin: 8% 0 8% 0;
    }
    .price__title {
        margin-top: 56px;
    }
    .price__description {
        width: 334px;
    }
    .price-block {
        margin: 0 40px;
        flex-direction: column;
    }
    .price-block__package {
        width: 100%;
        height: 600px;
        background-position: center 30px;
    }
    .price-block__title {
        padding-top: 240px;
    }
    .price-block__button {
        margin-bottom: 40px;
    }
    .price-block__package_standart {
        margin: 10px 0;
        height: 640px;
    }
    .price-block__package_premium {
        height: 680px;
    }
    .locations {
        padding-top: 50px;
    }
    .locations__title {
        width: 334px;
        font-size: 33px;
    }
    .locations__description {
        width: 334px;
        margin-bottom: 50px;
    }
    .partners {
        height: 62px;
    }
    .reviews__title {
        font-size: 30px;
        text-align: center;
    }
    .reviews__description {
        width: 334px;
    }
    .footer {
        margin-top: 116px;
    }
    .subscribe {
        display: flex;
        flex-direction: column;
        width: 338px;
        height: 330px;
    }
    .subscribe-info__title {
        width: 334px;
        font-size: 30px;
        text-align: center;
    }
    .subscribe-info__description {
        text-align: center;
    }
    .subscribe__button {
        margin: 30px auto 60px auto;
    }
    .arrows-button {
        margin: 0;
        justify-content: center;
    }
    .footer-main {
        padding: 245px 40px 0 40px;
    }
    .footer {
        height: auto;
    }
    .footer-main {
        flex-wrap: wrap;
    }
    .footer-main-info {
        width: 334px;
        margin: 0;
    }
    .footer-main-links__title {
        font-size: 16px;
    }
    .footer-main-links__item {
        font-size: 15px;
    }
    .footer-main-info {
        margin-bottom: 30px;
    }
    .footer-main-links_centre {
        width: 116px;
        margin: 0 10%;
    }
    .footer-main-links_right {
        width: 68px;
    }
    .footer-main-social {
        justify-content: center;
    }
    .footer-main__description {
        text-align: center;
    }
    .footer-main__logo {
        display: flex;
        justify-content: center;
    }
    .footer-main__description {
        margin: 20px 0 10px;
    }
    .footer-main__year {
        text-align: center;
    }
@media (max-width: 375px) {
    .info-block__title {
        font-size: 21px;
    }
    .price-block__package, .price__description {
        width: 295px;
    }
    .reviews-user {
        width: 70%;
        margin: 0px 6%;
    }
    .subscribe-info__title {
        width: 295px;
        font-size: 28px;
    }
    .subscribe-info__description {
        font-size: 15px;
    }
    .footer-main-links_centre {
        width: 97px;
        margin: 0 30px;
    }      
}
@media (max-width: 360px) {
    .price-block {
        margin: 0 9%;
    }
    .subscribe {
        width: calc(100% - 80px);
    }
    .footer-main-links_centre {
        margin: 0px 8%;
    }
    .features-text__title, .features-text__description {
        width: 100%;
    }
    .features-text__title {
        font-size: 22px;
    }
    .features-text__description {
        font-size: 15px;
    }
    .price-block__package, .price__description, .subscribe-info__title {
        width: auto;
    }
    .locations__title, .locations__description, .reviews__description {
        width: calc(100% - 80px);
    }
    .partners {
        height: 52px;
    }
    .locations__title, .reviews__title, .subscribe-info__title {
        font-size: 23px;
    }
    .subscribe {
        height: 355px;
    }
    .subscribe__button {
        width: 100%;
    }
    .footer-main {
        padding: 270px 40px 0 40px;
    }
    .footer-main-links_centre {
        width: 28%;
    }
    .footer-main-links__item {
        font-size: 14px;
    }
}
}
